<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url text</title>
    <style type="text/css">
        #green
        {
            color: green;
        }
        #lightgreen
        {
            color: lightgreen;
        }
        #yellow
        {
            color: yellow;
        }
        #orange
        {
            color: orange;
        }
        #red
        {
            color: red;
        }
    </style>
</head>

<body>
    <div class="url_text">
    <p>
        Here is the text from your file:
    </p>
    {%if percent <= 0.2 %}
        <p id = green> {{percent}} </p>
    {%elif percent > 0.2 and percent <= 0.5 %}
        <p id = lightgreen> {{percent}} </p>
    {%elif percent > 0.5 and percent <= 0.65 %}
        <p id = yellow> {{percent}}</p>
    {%elif percent > 0.65 and percent <= 0.8 %}
        <p id = orange> {{percent}}</p>
    {%else%}
        <p id = red> {{percent}}</p>
    {% endif%}
        </div>
</body>


</html>
